# Gradle build system ignores
.gradle/
build/

# idea
out
*.ipr
*.iws
*.iml
.idea/

# eclipse
bin
eclipse
*.launch
.settings/
.metadata
.classpath
.project
.factorypath

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# Files from Forge MDK
forge*changelog.txt
.classpath
.factorypath
.project

# MacOS system files
.DS_STORE